.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

bin/

app/assets/javascripts/sapphire_cms/sapphire-cms.admin.js
app/assets/javascripts/sapphire_cms/sapphire-cms.client.js
app/assets/javascripts/sapphire_cms/sapphire-cms.core.js
app/assets/stylesheets/sapphire_cms/sapphire-cms.admin.css
app/assets/templates/
