#app ng-app="SapphireAdmin"
    #content-management ng-controller="ContentBlocksController"
   		ul.content-block-list
        	li ng-repeat="contentBlock in contentBlocks" {{contentBlock.title}}: {{contentBlock.body}}
