<!DOCTYPE html>
<html>
<head>
  <title>Sapphire</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "sapphire_cms/sapphire-cms.admin", media: "all" %>
  <%= javascript_include_tag "sapphire_cms/admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
