<!DOCTYPE html>
<html>
<head>
  <title>Sapphire</title>
  <%= stylesheet_link_tag    "sapphire_cms/sapphire_cms", media: "all" %>
  <%= javascript_include_tag "sapphire_cms/sapphire_cms" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
